= provide(:title, "Sign Up")
= form_for @user do |f|
  %h2.form-signin-heading="Sign Up"
  = f.text_field :employee_id,           class: :'input-block-level', placeholder: "Morse ID"
  = f.text_field :name,                  class: :'input-block-level', placeholder: "Name"
  = f.text_field :tagline,               class: :'input-block-level', placeholder: "Tagline"
  = f.text_field :password,              class: :'input-block-level', placeholder: "Password"
  = f.text_field :password_confirmation, class: :'input-block-level', placeholder: "Password Confirmation"
  = f.submit "Create My Account", class: "btn btn-large btn-primary"

